<ion-view title="">
  <ion-content class="body">

<div class="h20">
  <img src="img/logo_blanc.png" class="headWhite">
</div>

<div>
  <h4>Missions en cours</h4>
</div>
<ion-spinner id="ion-spinner-home" icon="android" style="margin-top:50px;text-align:center;display:block;"></ion-spinner>

<div id="content-loading-home" style="display:none">

<div ng-click="showMission({{mission.id}})" class="card" ng-repeat="mission in missions">
  <!-- Head -->
  <div class="item item-divider" style="position:relative;">
    <!-- titre -->
    <span style="position:absolute; top:6px;" ng-bind="mission.ref"></span>
    <!-- profil icon -->
    <div class="profiles">
    <img class="profil" ng-repeat="intervenant in mission.developers" ng-src="img/picture.png">
  </div>
  <!-- bar -->
    <div class="theorique-bar" style="width:40%"></div>
    <div class="pratique-bar" style="width:30%"></div>
  </div>
  <!-- content -->
  <div class="item item-text-wrap">
      <div class="number">
        <span ng-bind="mission.phases[0].id"></span>/<span ng-bind="mission.phases[1].id"></span>
      </div>
    <p class="phase" ng-bind="mission.phases[1].name"></p>
  </div>
</div>

</div>

  </ion-content>
</ion-view>
