<ion-view view-title="Search">
  <ion-content class="body">

    <div class="h20">
	    <h1 ng-bind="mission.name"></h1>
	</div>

    <div class="h20 profiles-icon">
    	<div class="attached-list" toggle-class="show" ng-click-outside="resetClass()" ng-repeat="profile in mission.profiles" >
    		<img class="profil attached" ng-click="toggleClass()" ng-src="{{profile.img}}">
    		<span class="profil-action">
    			<a ng-href="#/app/profil/{{profil.id}}" class="action ion-ios-person"></a>
    			<a href="tel:+33627241334" class="action ion-ios-telephone"></a>
    			<a href="mailto:orazio.locchi@gmail.com" class="action ion-ios-email"></a>
    		</span>
    	</div>
    </div>

    <div class="h30 section">
    	<h4>Description</h4>
    	<p>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    	</p>
    </div>

    <div class="phases">
    	<h4>Détails des Phases</h4>
    	... 

    </div>

  </ion-content>
</ion-view>
