<ion-view title="Appels d'offre">
  <ion-content class="body">

  	<div>
  		<h4>Appels d'offre</h4>
  	</div>
<ion-spinner id="ion-spinner-offers" icon="android" style="margin-top:50px;text-align:center;display:block;"></ion-spinner>

<div id="content-loading-offers" style="display:none">

		<ion-list class="list">
      <ion-item ng-repeat = "mission in missionsList">
      	<div class="row">
      		<div class="col col-30">{{ mission.ref }}</div>
  	    	<div class="col col-65">dmqskdjfaglqmsdlkfjqmsldkfj</div>
	       	<div class="col ion-ios-arrow-forward"></div>
      	</div>
      </ion-item>
    </ion-list>

</div>

  </ion-content>
</ion-view>






<!--  {"id":"1","ref":"parex02","type":"Site complexe","client":"MrSourd","date_signature":"2015-08-14","date_end":"2016-02-09","manager":"2","developers":[{"id":"1","rank":"1,4","lastname":"Dupont","firstname":"Bob","phone":"0231740000","birth_date":"2010-10-01","promotion":"2020","email_perso":"toto@dupont.me","email_ece":"toto.dupont@edu.ece.fr","major":"Truc bidule","minor":"Machin chose","adress":"9 rue de la cachette - 14000 Caen","comment":"Bob est un tr\u00e8s bon intervenant !"} -->