
.body{
	background-color: #333;
	color:white;
	padding: 3vh 3vw;
}

/* menu */
.menu{
	background-color: #efefef;
	box-shadow: 0 0 5px black;
	padding-top: 55px;
}

/* Définition des titres */
h1, h2, h3, h4, h5, h6{ color:#ddd; }
h2.name{ 
	color:#333; 
	text-align: center;
	font-size: 30px;
	margin: 10px 0 20px;
	text-transform: uppercase;
	font-weight: lighter;
}

/* style lien */
a{ text-decoration: none; }


/* Logo */
img.headWhite{
	display: block;
	height: 60px;
	margin:0 auto 5vh;
}

/* bar */
.theorique-bar, .pratique-bar{
	position:absolute;
	height: 1px;
	left:0;
	bottom:0;
}
.theorique-bar{
	background-color: red;
}
.pratique-bar{
	background-color: rgb(35, 131, 1);
}

/* list */
.menu .list{
	border-top: 1px dashed green;
	border-bottom: 1px dashed green;
	background-color: rgba(0,0,0,0);
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.menu .list .item, .menu .list .item a{
	background-color: rgba(0,0,0,0);
	border-top: none;
	border-right: none;
	border-left: none;
}
.menu .list .item:active, .menu .list .item a:active{
	background-color: rgba(0,0,0,0.1);
}
.menu .list .item:nth-last-child(1), .menu .list .item a:nth-last-child(1){
	border-bottom: 0;
}
.menu .list .item i, .menu .list .item a i{
	color: green;
	font-size: 20px;
}

/* cards */
.card{ display: block; margin:15px 0; position: relative; }
.card .number{ display: inline-block; width:10%; line-height: 13px; vertical-align: middle; font-size: 10px; }
.card .phase{ display: inline-block; width:88%; line-height: 13px; vertical-align: middle; }

/* pictures */
img.profil, .img.profil{
	display: inline-block;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-color: white;
}
.profiles{
	position: absolute;
	text-align: right;
	padding:2px 5px 0 0;
	width: 100%;
	top:0; left:0;
}
.card img.profil{ 
	position: relative;
	top:0;
	max-height: 20px;
	width: 20px;
	margin:3px 2px;
}
.menu .img.profil{
	display: block;
	border: 5px rgb(39, 131, 1) solid;
	box-shadow: 0 0 2px black;
	margin: 0 auto 0;
	width: 150px;
	height: 150px;
}

/* slider */
.news{ padding: 0!important; }
.slider{
	padding:0 0 50px;
	margin: 0;
	min-height: 95vh;
}
.slider .card{
	margin: 10px;
	padding: 0!important;
}
.slider .card img{
	width:100%;
}

/* footer */
.footer{
	background: none;
}
.footer img{
	/*display: block;*/
	/*position: absolute;*/
	/*bottom:0;*/
	max-height: 9vw;
	display: block;
	margin: auto;
}

					/* PAGE MISSION */
/* Info button and description*/
.infoButton{
	font-size: 40px;
	color:#0069cc;
	background-color: black;
	float:right;
	max-height: 39px;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 black;
}
.infoButton:active{
	color: #990000;
}
.description{
	max-height: 1px;
	margin-top: 10px;
	padding: 1px 8px;
	border-radius: 5px;
	border-left: solid 5px #006539;
	background-color: #172e29;
	color:#e6e6e6;
	box-shadow: 0 0 5px 0px black;
	overflow: hidden;
}
.description-full{
	max-height: 500px;
}

/* Current Phase card*/
.currentPhase{
	margin: 2vh 3vw;
	border-radius: 0px;
}

/* profile images slider */
.shadow-border{
	width: 111%;
	padding: 5px 0 5px 5px;
	left:-3vw;
	background-color: #404040;
	box-shadow:  0 0 15px black;
}
.profileSlider{
	width: 600vw;
}
.profileButton{
	width: 70px;
	float: left;
	margin-right: 4px;
	animation-name: popup-back;
    animation-duration: .5s;
}
.profileButton-full{
	width: 223px;
	animation-name: popup;
    animation-duration: .5s;
}
.profImage{
	float: left;
	border: solid 3px #006080;
	border-radius: 50%;
	max-height: 70px;
	width: 70px;
	animation-name: getBlue;
	animation-duration: .5s;
}
.profileButton-full .profImage{
	border: solid 3px #990000;
	animation-name: getRed;
	animation-duration: .5s;
}
.profil-action{
	display: none;
	float: left;
	font-size: 50px;
	margin: 0px 5px;
	padding: 0 5px;
	width: 141px;
	height: 70px;
	overflow: hidden;
	border-radius: 7px;
	background-color: #262626;
	box-shadow: 0 0 6px 1px black;
}
.profil-action p{
	font-size: 15px;
	margin: -3px 0 3px 0;
	text-align: center;
}

/* Phases*/
#phaseListContainer{
	box-shadow: 0 0 6px 1px black;
	margin:3vh 3vw;
}
#btnPhases{
	margin-bottom: 0;
}

#phaselist{
	margin-top: 0;
	display: none;
}
.phaseInList{
	border-bottom: solid 1px rgb(100,100,100);
	padding:0px;
	margin: 0px;
	border-radius: 0px;
}
.popup-container{
	background-color: rgba(0,0,0,0.7);
}
.popup-head{
	background-color: #172e29;
}
.popup-title{
	color: #e6e6e6;
	font-size: 17px;
}
.popup-body{
	font-size: 15px;
}
/* Animations */
@keyframes grow{ /* grow and shrink are for the description but I can't get them to work properly (JS issue) */
	from{max-height: 1px;}
	to{max-height: 500px;}
}
@keyframes shrink{
	from{max-height: 500px;}
	to{max-height: 1px;}
}

@keyframes appear{ /* appear and disappear are for the three links of each intervenant*/
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes disappear{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes popup{ /* popup and popup-back are for the profileButton of intervenants to grow first before displaying links*/
	from{width: 70px;}
	to{width: 223px;}
}
@keyframes popup-back{
	from{width: 223px;}
	to{width: 70px;}
}

@keyframes getBlue{ /* for color change of profImage border*/
	from{border: solid 3px #990000;}
	to{border: solid 3px #006080;}
}
@keyframes getRed{
	from{border: solid 3px #006080;}
	to{border: solid 3px #990000;}
}
